/* Nick Collis CSS Style Sheet*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*hide skip link */
#skip {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

/* web styles */
header {
    background: linear-gradient(to bottom, #55BCD5, white);

}

img[src="images/logo.png"] {
    height: 156px;
    
}



nav {
    height: 48px;
	display: grid;
}

nav li {
    display: inline-flex;
	align-items: right;
    width: 10%;
}

nav li a {
    display: inline;
    padding: 20px;
	color: #222;
    background-color: #FFFFFF;
    text-decoration: none;
    position: absolute;
    top: 0px;
	
}

nav li a:hover {
    background-color: #F6D64A;
}

/* Phone Menu */

@media (max-width: 429px) {
    html {
        width: 429px;
    }
    body {
        width: 429px;
        margin: 0 auto;
      }
    
    header {
        background: linear-gradient(to bottom, #55BCD5, white);
    }
    
    header img {
        display: flex;
        align-items: left;
        width: 160.3px;
        height: 69.5px;
    }
    
    h1 {
        font-size: 40px;
    
    }
}