/* Nick Collis CSS Style Sheet*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* web styles */

#intro {
    display: grid;
    height: 844px;
    width: 1920px;
    grid-template-columns: repeat(6, 1fr 1fr 1fr );
    grid-template-rows: 10px;
}

#intro h2{
    font-size: 75px;
    display: grid;
	justify-content: space-evenly;
}

#intro p {
    display: grid;
	grid-column: 1;
	padding: 100px;
	text-align: center;
	justify-content: space-evenly;
}

#intro img {
    display: grid;
	float: right;
}

#plan {
	background-color:#F6D64A;
    height: 652px;
    width: 1920px;
	display: grid;
	gap: 150px 100px;
	grid-template-rows: auto auto auto auto 1fr;
}

#plan section {
	display: inline-grid;
	background-color: #55BCD5;
	height: 336px;
    width: 398px;
	font-size: 30px;
	text-align: center;	
}

#plan h3 {
	display: grid;
	text-align: left;
	font-size: 40px;
}

#testimonials {
	height: 668px;
    width: 1920px;
	display: grid;
	gap: 14px 11px;
	grid-template-rows: auto auto auto auto 1fr;
}

#testimonials h3 {
	display: grid;
	font-size: 50px;
	text-align: center;
	
}

#testimonials img {
	padding: 100px;
}

#testimonials h4 {
	display: inline-grid;
	font-weight: bold;
	text-align: center;
}



#testimonials section {
	display: inline-grid;
	height: 336px;
    width: 398px;
	text-align: center;	
}

#about {
	background: #499BD2;
	height: 546px;
    width: 1920px;
	display: grid;
	gap: 10px 110px;
	grid-template-rows: 2fr 2fr 2fr 2fr; 
	
}

#about h3 {
	font-size: 20px;
	text-align: center;
}

#about section {
	display: inline-grid;
}

#about img {
	padding: 153px;
}

#about h4 {
	display: grid;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

#about p {
	display: grid;
	text-align: center;
}

#contact {
	height: 657px;
    width: 1920px;
}



input[type=button], input[type=submit], input[type=reset] {
  background-color: #9B26B0;
  border: none;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  margin: 4px 2px;
}
footer {
	height: 78px;
    width: 1920px;
	background: #EAEAEA;
	clear: both; 
}

footer p {
	font-size: small;
	float: left;
	padding: 30px;
}

footer a {
	font-size: small;
	float: right;
	text-decoration: none;
	padding: 30px;
}
/* Phone Menu */

@media (max-width: 429px) {
    html {
        width: 429px;
    }
    body {
        width: 429px;
        margin: 0 auto;
      }
    
    header {
        background: linear-gradient(to bottom, #55BCD5, white);
    }
    
    header img {
        display: flex;
        width: 160.3px;
        height: 69.5px;
    }
    
    h1 {
        font-size: 40px;
    
    }
}